.header{
    box-shadow:0px 5px 5px 3px #41464b;
    position: fixed;
    top: 0;
    z-index: 1;
    width:100vw; 
    background-color:  #02020F;
    
}
.logo{
    width: 50px;
    
}
.logo-img{
    width: 40px;
}

.web-name{
    color: #CACEE8 !important;
    
}

.user-logo{
    color: white ;
    font-size: 30px;
}