.popular{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
  }

.gallery-pics{
    margin-bottom: 60px;
}
.card-wrapper1{
    background-image: url(../../assets/images/painting.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
  }
.pic-title{
    opacity:0.6;
    background-color: white;
    font-size: 16px;
    color: black;
    padding: 6px;
    border-radius: 6px;
    }
 
.heart{
    color: white;
  }
  
.card-wrapper2{
    background-image: url(../../assets/images/cartoon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
  }
.card-wrapper3{
    background-image: url(../../assets/images/shoes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
  }

.card-wrapper4{
    background-image: url(../../assets/images/interior.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
.card-wrapper5{
    background-image: url(../../assets/images/filters2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 20px;
  }
.card-wrapper6{
    background-image: url(../../assets/images/landingpage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
  }
.card-wrapper7{
    background-image: url(../../assets/images/cartoon2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
  }
.card-wrapper8{
    background-image: url(../../assets/images/painting2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
  }
.card-wrapper9{
    background-image: url(../../assets/images/interior2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 442px;
    color:white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
  }
